<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About Us
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="primary">
        Contact Us
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding id="page1">
  <img src="assets/img/nsH5uKT8TDKb8ZIVnmWL_MCCLogoandText-webver2018a.png" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  <nav id="pnProductNav" class="pn-ProductNav">
    <div id="pnProductNavContents" class="pn-ProductNav_Contents">
      <a href="/home" class="pn-ProductNav_Link">Home</a>
      <a href="/announcements" class="pn-ProductNav_Link">Announcements</a>
      <a href="/rota" class="pn-ProductNav_Link">Rota</a>
      <a href="/members-login" class="pn-ProductNav_Link">Members</a>
      <a href="/about-us" class="pn-ProductNav_Link" aria-selected="true">About Us</a>
      <a href="/prayer" class="pn-ProductNav_Link">Prayer</a>
    </div>
  </nav>
  <ion-list id="home-list2">
    <ion-item color="none" id="home-list-item6">
      <ion-icon name="book" item-left></ion-icon>
      Daily Reading
    </ion-item>
    <ion-item color="none" id="home-list-item7">
      <ion-icon name="chatbubbles" item-left></ion-icon>
      Sermons
    </ion-item>
    <ion-item color="none" id="home-list-item8">
      <ion-icon name="people" item-left></ion-icon>
      Guided Prayer
    </ion-item>
    <ion-item color="none" id="home-list-item10">
      <ion-icon name="at" item-left></ion-icon>
      MCC Blog
    </ion-item>

    <ion-item-divider color="light" id="home-list-item-divider1">
      <ion-label>
        Recent Articles
      </ion-label>
    </ion-item-divider>
    <ion-item color="none" id="home-list-item11">
      <ion-thumbnail item-left>
        <img />
      </ion-thumbnail>
      <h2>
        Article 1
      </h2>
    </ion-item>
    <ion-item color="none" id="home-list-item13">
      <ion-thumbnail item-left>
        <img />
      </ion-thumbnail>
      <h2>
        Article 2
      </h2>
    </ion-item>
    <ion-item color="none" id="home-list-item12">
      <ion-thumbnail item-left>
        <img />
      </ion-thumbnail>
      <h2>
        Article 3
      </h2>
    </ion-item>
  </ion-list>
</ion-content>