<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Create a MCC Account</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="primary">
        Contact Us
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding id="page7">
  <form id="createAMCCAccount-form2">
    <ion-list id="createAMCCAccount-list4">
      <ion-item id="createAMCCAccount-input3">
        <ion-label>
          Name
        </ion-label>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>
      <ion-item id="createAMCCAccount-input4">
        <ion-label>
          Email
        </ion-label>
        <ion-input type="email" placeholder=""></ion-input>
      </ion-item>
      <ion-item id="createAMCCAccount-input5">
        <ion-label>
          Password
        </ion-label>
        <ion-input type="password" placeholder=""></ion-input>
      </ion-item>
    </ion-list>
    <ion-button id="createAMCCAccount-button3" expand="full" fill="solid" color="light" (click)="goToMembers()">Sign up</ion-button>
  </form>
</ion-content>