<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Members Login</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="primary">
        Contact Us
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding id="page6">
  <form id="membersLogin-form1">
    <ion-list id="membersLogin-list3">
      <ion-item id="membersLogin-input1">
        <ion-label>
          Email
        </ion-label>
        <ion-input type="email" placeholder=""></ion-input>
      </ion-item>
      <ion-item id="membersLogin-input2">
        <ion-label>
          Password
        </ion-label>
        <ion-input type="password" placeholder=""></ion-input>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height:40px;" id="membersLogin-spacer2"></div>
    <ion-button id="membersLogin-button1" expand="full" fill="solid" color="light" (click)="goToMembers()">Log in</ion-button>
    <ion-button id="membersLogin-button2" expand="full" fill="clear" color="positive" (click)="goToCreateAMCCAccount()">Or create an account</ion-button>
    </form>
  <img src="assets/img/T5vcJNR4iDbqQGaoZPlQ_web_hi_res_512.png" style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;" />
</ion-content>